body {
   color: #6e00ff;
}
.olucontainer {
    width: 400px !important;
    position: relative;
    top: 28px !important;
    margin-right: auto;
    padding: 20px 15px;
    margin-left: auto;
    background: #f1f1f1;
}
.button {
    color: #fff;
    background-color: #6e00ff;
    border-color: #6e00ff;
}
